<div class="weatherContainer">
    <div class="weatherInput">
        <input type="string" ng-model="zip" ng-submit="callWeather()" placeholder="Zip Code" />
        <button ng-click="callWeather()">Search</button>
    </div>
    <div class="weatherInfo">
        <span class="weatherCity"> {{$ctrl.warming.City}}, {{$ctrl.warming.State}} </span>
        <span class="weatherTemp"> {{$ctrl.warming.TempF}} </span>
        <span class="weatherConditions"> {{$ctrl.warming.Weather}} </span>
        <span class="weatherWind"> {{$ctrl.warming.WindDir}} {{ctrl.warming.WindMPH}}MPH </span>
        <span class="weatherSun"> {{$ctrl.warming.Sunrise}} {{$ctrl.warming.Sunset}} </span>
    </div>
</div>